input[name='type_payment'],
input[name='type_ship'] {
    &:checked {
        ~ label {
            opacity: 1;
            border-color: #2f5acf;
            span {
                border-color: #2f5acf;
                > .checkmark {
                    display: block;
                }
            }
        }
    }
}
