.size:checked ~ .size-label,
.color:checked ~ .color-label {
    color: var(--primary);
    border-color: var(--primary);
}

.product-hover {
    .action-cart,
    .action-wishlist {
        &:hover {
            transition: all 0.3s ease;
            background: var(--primary);
            svg {
                color: white;
            }
        }
    }
    .product-size-hover {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(-20px);
        transition: all ease 0.4s;
    }
    &:hover {
        .product-size-hover {
            transform: translateY(0px);
            opacity: 1;
            visibility: visible;
            pointer-events: visible;
            transition: all ease 0.4s;
        }
    }
}
