.icon-header-wrapper {
    .cart-hover {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        &::after {
            content: '';
            position: absolute;
            top: -10px;
            height: 40px;
            width: 100%;
            background: transparent;
        }
        .cart-hover-wrapper {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }
    }
    &:hover {
        .cart-hover {
            opacity: 1;
            visibility: visible;
            pointer-events: visible;
            transition: all ease 0.3s;
        }
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    8% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    15% {
        -webkit-transform: scale(0.1);
        opacity: 1;
    }
    30% {
        -webkit-transform: scale(0.5);
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.4);
    }
}

.pulse {
    display: block;
    position: absolute;
    top: 7px;
    left: 10px;
    right: 8px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #22c03c;
}

.pulse::before {
    content: '';
    top: -4px;
    right: -4px;
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(34, 192, 60, 0.6);
    box-shadow: 0 0 0 rgb(34 192 60 / 90%);
    animation: pulse 1s linear infinite;
}
